/* Container for Reset Password and Forgot Password */
.reset-password-container, .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .reset-password-card, .forgot-password-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
 mat-card-header {
    background-color: #322d2d !important;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 20px;
  }
  
  /* Loading Spinner */
  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  mat-spinner {
    width: 40px;
    height: 40px;
    color: #1976d2;
  }
  
  /* Styles for input fields */
  .email-input {
    font-size: 14px;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .reset-password-card, .forgot-password-card {
      width: 90%;
    }
  }
