<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="product-grid">
  <div class="product-card" (dblclick)="productPage(item.product_Id)" *ngFor="let item of productList">
    <img [src]="item.imagePath" [alt]="item.product_name" class="product-image" />
    <div class="product-details">
      <h3 class="product-name">{{ item.product_Name }}</h3>
      <p class="product-price">Price: ₹ {{ item.list_Price }}</p>
      <p class="product-quantity">Stock: {{ item.quantity }}</p>
      <p class="product-color">Color: {{ item.color }}</p>
      <p class="product-year">Model Year: {{ item.model_Year }}</p>
    </div>

    <!-- Wishlist Love Icon -->
    <button mat-icon-button (click)="toggleWishlist(item)">
      <mat-icon [color]="item.isfavourite ? 'warn' : ''">
        {{ item.isfavourite ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </button>

    <!-- Add to Cart Button -->
    <div *ngIf="item.cartcount === 0">
      <button mat-raised-button color="primary" class="add-to-cart-button" (click)="addToCart(item)">
        Add to Cart
      </button>
    </div>

    <!-- Cart Controls (Increment/Decrement) -->
    <div *ngIf="item.cartcount > 0" class="cart-controls">
      <button mat-button (click)="decrementCount(item)">-</button>
      <span>{{ item.cartcount }}</span>
      <button mat-button (click)="incrementCount(item)">+</button>
    </div>
  </div>
</div>
  