<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    
    <div class="add-product-container" id="content">
      <h2 class="form-title">Add New Product</h2>
    
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Basic Product Details </mat-panel-title>
          </mat-expansion-panel-header>
    
          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" class="product-form">
            <div class="form-group">
              <label class="form-label">Product Name</label>
              <input
                type="text"
                mat-input
                class="form-control"
                id="name"
                placeholder="Enter product name"
                required
                [(ngModel)]="product.product_Name"
                name="name"
              />
              <button type="button" (click)="copyToClipboard(product.product_Name)">📋Copy</button>
            </div>
            
            <div class="form-group">
              <label class="form-label">Color</label>
              <input
                matInput
                name="color"
                [(ngModel)]="product.color"
                required
                class="form-control"
                placeholder="Enter Color Name"
              />
            </div>
          </form>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Product Specifications </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="form-group">
            <label class="form-label">Model Year</label>
            <input
              matInput
              name="modelyear"
              type="number"
              [(ngModel)]="product.model_Year"
              required
              class="form-control"
              placeholder="Enter Model year"
            />
          </div>
    
          <div class="form-group">
            <label class="form-label">Price</label>
            <input
              matInput
              name="list_Price"
              [(ngModel)]="product.list_Price"
              required
              class="form-control"
              placeholder="Enter Price"
            />
          </div>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Brand and Category </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="form-group">
            <label class="form-label">Brand</label>
            <select
              id="inputState"
              #brand="ngModel"
              [(ngModel)]="product.brand_Id"
              name="brand"
              required
              class="form-select scrollable-menu"
              (change)="onBrandChange($event)"
            >
              <option value="" selected>Select</option>
              <option *ngFor="let brand of brands" [value]="brand.brand_Id">
                {{ brand.brand_Name }}
              </option>
              <option value="new">+ Add New Brand</option>
            </select>
          </div>
    
          <div *ngIf="isAddingNewBrand" class="form-group">
            <label class="form-label">New Brand Name</label>
            <input
              matInput
              type="text"
              [(ngModel)]="newBrandName"
              name="newBrandName"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              placeholder="Enter new brand name"
              required
            />
            <button mat-raised-button color="primary" (click)="addNewBrand()">Save Brand</button>
          </div>
    
          <div class="form-group">
            <label class="form-label">Category</label>
            <select
              id="inputState"
              #category="ngModel"
              [(ngModel)]="product.category_Id"
              name="category"
              required
              class="form-select scrollable-menu"
              (change)="onCategoryChange($event)"
            >
              <option value="" selected>Select</option>
              <option *ngFor="let category of categories" [value]="category.category_Id">
                {{ category.category_Name }}
              </option>
              <option value="new">+ Add New Category</option>
            </select>
          </div>

          <div *ngIf="isAddingNewCategory" class="form-group">
            <label class="form-label">New Category Name</label>
            <input
              matInput
              type="text"
              [(ngModel)]="newCategoryName"
              name="newCategoryName"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              placeholder="Enter new category name"
              required
            />
            <button mat-raised-button color="primary" (click)="addNewcategory()">Save Category</button>
          </div>

        </mat-expansion-panel>
    
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Image Upload and Actions </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="form-group">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" name="imagePath" (change)="onFileChange($event)" />
          </div>

          <div [innerHTML]="htmlContent"></div>
          <div class="form-actions">
            <button mat-raised-button color="primary" (click)="onSubmit(productForm)" type="submit">Submit</button>     
            <button type="button" (click)="generatePDF()">Download PDF</button>
            <button mat-button type="button" (click)="onReset(productForm)">Reset</button>
            <button mat-raised-button color="secondary" type="button" class="backBtn" *ngIf="isAdmin" routerLink="/productslist">Back</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    