<div class="add-product-container" id="content">
    <h2 class="form-title">Upload Document</h2>
  
    <form #documentForm="ngForm" (ngSubmit)="onSubmit(documentForm)" class="product-form">
      <div class="form-group">
        <label class="form-label">Document Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="document.Name"
          placeholder="Enter Name"
          required
          name="name"
        />
      </div>
  
      <div class="form-group">
        <label class="form-label">File</label>
        <input
          type="file"
          class="form-control"
          name="uploadfile"
          (change)="onFileChange($event)"
        />
      </div>
  
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button type="button" (click)="onReset(documentForm)">Reset</button>
        <button mat-raised-button color="secondary" type="button" class="backBtn" routerLink="/upload-document">
          Back
        </button>
      </div>
    </form>
  </div>
  