body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
  width: 85%;
  margin: auto;
}

mat-paginator{
  width: 85% !important;
  margin: auto;
}

.add-new-product-button{
  margin: 7px;
  align-items:flex-end;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

th.mat-sort-header-sorted {
  color: black;
}

#productTable {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

th {
  background-color: #686262;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.mat-select{
  background-color: rgb(223, 153, 153) !important;
}