body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
  width: 60%;
  margin: auto;
}

mat-paginator{
  width: 60% !important;
  margin: auto;
}

.add-new-product-button{
  margin: 7px;
  align-items:flex-end;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

th.mat-sort-header-sorted {
  color: black;
}

#productTable {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

th {
  background-color: #686262;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 16px;
  /* justify-content: flex-start; */
  justify-content: space-around;
  margin-bottom: 5px;
}

.mat-select {
  background-color: rgb(176, 214, 127) !important;
}

.btn-act {
  /* margin-left: 55px; */
  margin-right: 15px !important;
}

::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

::ng-deep th.mat-header-cell, td, th {
  text-align: center !important;
}