body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
  width: 90% !important;
  height: 90% !important;
  margin: auto;
}

mat-paginator{
  width: 90% !important;
  margin: auto;
}

.add-new-product-button{
  margin: 7px;
  align-items:flex-end;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

th.mat-sort-header-sorted {
  color: black;
}

#productTable {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

th {
  background-color: #686262;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-around;
  margin-bottom: 5px;
}

.mat-select {
  background-color: rgb(176, 214, 127) !important;
}

.btn-act {
  margin-right: 15px !important;
}

::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

::ng-deep .mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.small-icon {
  font-size: 19px;
  cursor: pointer;
}

::ng-deep .text-cell {
  text-align: left;
}

::ng-deep .header-left {
  text-align: left;
}

::ng-deep .header-center {
  text-align: center;
}

::ng-deep .header-right {
  text-align: right;
}

::ng-deep .text-header {
  text-align: left;
}

::ng-deep .numeric-header {
   text-align: center !important;
   margin:0px auto;
}

::ng-deep .numeric-cell {
  text-align: center !important;
  margin:0px auto;
}

::ng-deep th.mat-header-cell.header-left {
  text-align: left !important;
}

::ng-deep th.mat-header-cell.header-right {
  text-align: right !important;
}

/* ::ng-deep button.mat-sort-header-button.mat-focus-indicator {
  text-align: center !important;
  margin: 0px auto; 
} */

/* ::ng-deep .mat-header-row:not(:first-child) .mat-sort-header-button.mat-focus-indicator {
  text-align: center !important;
  margin-right: 25px !important;
} */

/* 
::ng-deep th.mat-header-cell.numeric-header .mat-sort-header-button {
  text-align: center;
  font-size: 12px;
  color: #555;
}

::ng-deep th.mat-header-cell.text-header .mat-sort-header-button {
  text-align: left;
  font-size: 14px;
  color: #000;
} */

/* Target the 2nd, 3rd, and 5th columns' buttons within the table headers */
::ng-deep th:nth-child(2) .mat-sort-header-button,
::ng-deep th:nth-child(3) .mat-sort-header-button,
::ng-deep th:nth-child(5) .mat-sort-header-button {
  /* Add the 'numeric-cell' styling */
  text-align: center !important;
  margin:0px auto;
}
